<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <!--prod.axesa.com-->
    <add name="APPS_PRI" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=)(PORT=1522))(CONNECT_DATA=(SERVICE_NAME=)));User ID=;Password=;" providerName="Oracle.DataAccess.Client" />
    <!--ybrds_prod.dimmasyp.axesa.com-->
    <add name="YBRDS_PROD_PRI" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=)));User ID=;Password=;" providerName="Oracle.DataAccess.Client" />
    <!--prod.axesa.com-->
    <add name="APPS" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=)(PORT=1522))(CONNECT_DATA=(SERVICE_NAME=)));User ID=;Password=;" providerName="Oracle.DataAccess.Client" />
    <!--DOM-->
    <!--ybrds_prod.dimmasyp.csdi.local-->
    <add name="YBRDS_PROD_DOM" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=)(PORT=1521)))(SDU=8192)(CONNECT_DATA=(SERVICE_NAME=)));User ID=;Password=;" providerName="Oracle.DataAccess.Client" />
  </connectionStrings>
</configuration>